.todoList{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    width: 60%;
    font-size: 3em;
    margin: 0;
    padding: 5px;
    color: rgb(67, 67, 255);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow:inset 0 0 5px rgba(0, 0, 0, 0.5);
}