.logo{
    display: block;
    margin: auto;
    border:2px groove red;
    border-radius: 1em;
    
}
.topRow{
    background:radial-gradient(#ccffcc 40%,lightgreen ) ;
}
.na{
    background-color:cornsilk;
    color: brown; 
    font-size: 1.1em;
    
}
.LogoTitle{
    font-size: 2em;
    color: darkgreen;
    text-shadow: 1px 2px 3px;
    text-align: center
}
.LogoTitle2{
    font-size: 1.2em;
    color: navy;
    text-align: center
}
.LogoTitle3{
    font-size: 1em;
    text-align: center;
    color: navy;        
}
.sloka{
    font-size: 1em;
    color: red;
    text-shadow: 1px 1px 10px yellow;
    font-weight: bolder;
    margin: auto;
    text-align: center
}
.contact{
    margin: auto;
    color: brown;
    text-decoration: none;
    text-align: center;
    font-size: 0.9em;
    font-family: serif;
    vertical-align: middle;
}
/*NAV*/
.navLogo{
    width: 6em;
    border: 2px groove red;
    border-radius:0.4em;
    transition-duration: 0.3s;
}
.navLogo:hover{
    box-shadow: 1px 1px 10px red;
}
.h{
    color: brown;
    margin:0.3em;
    font-weight:600;
    transition-duration: 0.3s;
    padding: 0.2em
        
}
.h:active{
    color: brown ;
    padding: 0.2em
}
.h:visited{
    color: brown
}
.h:hover{
    border: 1px groove pink;
    box-shadow: 0.2px 0.2px 6px;
    border-radius:0.2em;
}
/*content*/
input{
    margin: 1px;
}

.pInfo{
    
}
.gifo{
    
}


.pComp{
    text-align: center;
    color: darkblue;
}

.hidden{
    display: none;
}