.top{
   background-color:  #4d0000;
    padding: 0.5rem;
    
}
.navbar{ 
    background: #4d0000 !important;
}

.imgLogoTop{
    width: 11rem;
    border-radius: 0.4rem; 
    border: 1px solid white;
    box-shadow: 4px 4px 5px rgba(0,0,0,0.5);
}
.btnA,.btnB{
    border: 1px solid darkgreen ;
    width:5rem;
    
}

.btnA:hover,.btnB:hover{
    background:linear-gradient(green,darkgreen);
    color: aliceblue;
}

.a{
    padding-left: 0rem;
    margin: auto;
}
.b{
    padding-right: 0;
    margin: auto;
    text-align: right
}

/*body*/
.C2{
    background-color: lightgrey;
    padding: 1rem;
    margin: auto;
    display: block;
}

.pInfo{
    
}
.gifo{
    
}

.foot{
    background: linear-gradient(to right,#651a1a,#d04949,#651a1a);
    color: aliceblue;
    margin: auto;
    padding: 1rem;
}

.pComp{
    text-align: center;
    color: darkblue;
}

.hidden{
    display: none;
}
/*footer*/


.fa.fa-facebook-square{
    color: #3b5998;
    background-color: aliceblue;   
    
}
.fa{
    color: #3b5998;
    background-color: aliceblue;
    border-radius: 50%;box-shadow: 3px 3px 9px rgba(0,0,0,0.9);
    margin: 5px;
}
.foot{
   margin: auto;
    padding: 1rem;
}

.footsy{
    text-align: right;
    margin-top: 1rem;
    
}
.size{
    
    padding: 1px;
    background-color: aliceblue;
    border-radius: 8px;  
    box-shadow: 6px 6px 5px rgba(0,0,0,0.9);
    margin: 10px;
}
.bAdd{
    
}
.bSub{
    display: block;
    margin: auto;
}
















